@import "../../../../styles/_variables_mixins";

.content-wrap {
    background: #FFFFFF;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 4px;
    padding: 30px 20px 20px;
    border-top: 3px solid #087380;
    overflow: visible;
    margin-top: 25px;
    margin-bottom: 25px;

    table {
        border: 2px solid #222;
        width: 100%;

        table {
            border: 0 none!important;
        }

        thead {
            th.header-shim {
                width: 5%;
            }
        }

        tbody {
            td {
                border: 2px solid #222;
                font-family: $secondary-font;
                font-weight: 500;
            }
        }

        .border-left {
            border-left: 2px solid #222!important;
        }

        .border-bottom {
            border-bottom: 2px solid #222;
        }

        .border-top {
            border-top: 2px solid #222;
        }

        .border-right {
            border-left: 2px solid #222!important;
        }

        .border-left-none {
            border-left: 0 none!important;
        }

        .border-right-none {
            border-right: 0 none!important;
        }

        .border-top-none {
            border-top: 0 none!important;
        }

        .border-bottom-none {
            border-bottom: 0 none!important;
        } 

        .border-none {
            border: 0 none!important;
        }

        .align-left {
            text-align: left;
        }

        .align-right {
            text-align: right;
        }

        .align-center {
            text-align: center;
        }

        .bold-text {
            font-weight: 900!important;
        }

        tbody {
            td {
                &.padding-all-side {
                    padding: 5px 5px 3px;
                }

                &.copy-type {
                    padding: 5px 10px 0px;
                }
                &.tax-invoice-title {
                    padding: 5px 0px;
                }
                &.tax-invoice-subtitle {
                    padding: 0px 0px 5px;
                }

                &.enterprise-title {
                    padding: 5px 10px;
                    font-size: 22px;
                    font-weight: 900;
                }
                &.enterprise-address {
                    padding: 3px 10px;
                    font-size: 15px;
                    font-weight: 600;
                }

                label {
                    font-weight: 600;
                }
            }
        }   

        .form-group {
            margin-bottom: 0px;
        } 

        .radio-button {
            float: none;
            margin-left: 10px;
            margin-right: 0px;
            margin-bottom: 0px;
            display: inline-block;
        }
        
        .item-details-table {
            th {
                padding: 5px 5px;
                border-left: 2px solid #222;
                width: 5%;

                &:first-child {
                    border-left: 0 none;
                }
            }

            td.blank-space {
                height: 130px;
            }

            td.service_description {
                .item_code {
                    border-bottom: 2px solid #222;
                }
                .item_name {
                    border-bottom: 2px solid #222;
                }
                .item_code, .item_name, .job_no {
                    padding: 5px 0px 3px;
                }
            }

            tr.declaration-sign-row {
                .declaration-textarea {
                    height: 90px;
                    resize: none;
                }
            }
        }   


    }
}

.ordersModal {
    .modal-content {
        border-radius: 0px;

        .modal-footer {
            .btn {
                width: 120px;
            }
        }
    }
}
