<header id="header">
    <div class="row">
        <div class="col-sm-6 col-xl-6 header-left">
            <div class="logo-text float-xs-left">
                <a href="#"><img src="../../../assets/images/logo-icon.png" /> <span>SUJAY SERVICES</span></a>

                <a class="animated-arrow" (click)="toggleSidebar()"><span></span></a>
            </div>
        </div>

        <div class="col-sm-8 col-xl-10 header-right">
            <div class="header-inner-right">
              <div class="user-dropdown">
                    <div class="btn-group">
                        <a href="#" class="user-header dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">
                           <i class="ti-user profile-icon"></i>
                        </a>
                        <div class="dropdown-menu drop-profile">
                            <div class="userProfile">
                                <div class="profile-icon-wrap">
                                  <i class="ti-user profile-icon"></i>
                                </div>
                                <h5>Sagar Pansare</h5>
                                <p>sagarprince2012@gmail.com</p>
                            </div>
                            <div class="dropdown-divider"></div>
                            <a class="btn btn-primary float-xs-right right-spacing" href="#" role="button">Logout</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>