/*-- Border Radius --*/
$border-radius-default: 25px;
$border-radius-full-round: 50%;
$border-radius-tag-primary: 17px;
$border-radius-tag-success: 20px;
$border-radius-tag-warning: 10px;


/*-- badges-tags --*/
$badges-tag-spacing: 2px;
$badges-tag-minus-spacing: -4px;
