<div class="login">
    <div class="login_main">
        <div class="login_contain">
            <div class="login_form text-xs-center">
                <i class="login_profile_icon icon icon_lock"></i>
                <h5>Sign into your account</h5>
                <form>
                    <div class="login_text_field circle-input">
                        <input type="text" id='email' name='email' placeholder="Enter email">
                        <i class="icon icon_mail"></i>
                    </div>
                    <div class="login_text_field circle-input">
                        <input type="password" id='password' name='password' placeholder="Password">
                        <i class="icon icon_key"></i>
                    </div>                                        
                    <button type="button" class="btn flat-buttons btn-primary btn-block text-xs-center" rippleEffect="white" (click)="login()">Sign in</button>                    
                </form>
            </div>
            <div class="login_reserved_text text-xs-center bold-fonts">
                <p>© 2017. all right reserved.</p>
            </div>
        </div>
    </div>
</div>