.pagination {
    li {
        float: left;
        margin-left: 0px;
        padding: 0px;
    }
}

.pagination_link {
    color: #039be5;
    border-color: #039be5;

    &.next-previous-link:focus {
        background: transparent;
        color: #039be5;
    }

    &.page-link:hover {
        background: #039be5;
        border-color: #039be5;
        color: #FFFFFF;
    }
}

.page-item {
    input {
        width: 50px;
        margin-left: 10px;
        padding: 3px 0px 3px;
        border: 1px solid #039be5;
        text-align: center;
    }
}

.active-page {
    a {
        background: #039be5;
        border-color: #039be5;
        color: #FFFFFF;
    }
}

.pagination_with_gap {
    .pagination_link {
        padding: 3px 12px;
        margin-left: 8px;
        border-radius: 0px;
    }
}